
.main-view  {
    display: grid;
    grid-template-rows:  header body;
}

.header{
    width: 100%;
    height: 50px;
    border: 1px solid black;
}

.views-container {
    display: grid;
    grid-template-columns: 15% 85%;
}

.graph-container {
    border: 1px solid black;
}

.nav {
    border: 1px solid black;
}

.double-graph-view-columns {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 100%;
}

